body{
    background-image: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); 
    margin: 0px;
}
h1{
    font-size: 40px;
    color: white;
}
.f a{
    padding-right: 10%;
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: inline;
}
.f{
    display: inline;
}
#contact{
    margin-left: 25%;
}


